@font-face {
  font-weight: normal;
  font-family: "Roboto";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
}

@font-face {
  font-weight: bold;
  font-family: "Roboto";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
}

@font-face {
  font-weight: normal;
  font-family: "Oswald";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Oswald-Regular.woff2") format("woff2"), url("../fonts/Oswald-Regular.woff") format("woff");
}

@font-face {
  font-weight: bold;
  font-family: "Oswald";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Oswald-SemiBold.woff2") format("woff2"), url("../fonts/Oswald-SemiBold.woff.woff") format("woff");
}
